.repo{
    width: 50%;
}
.repo > div > div{
    margin-bottom: 5px;
}
.repo-content > div{
    padding: 5px;
}
.repo-content > div:nth-child(odd){
    background: #ebe8ff;
    border-radius: 3px;
}
.user-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.followers{
    width: 300px;
}
.followers-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-bottom: 0;
}
.followers-item:hover{
    background: #ebe8ff;
    border-radius: 3px;
}
.location{
    height: 20px;
}
.user-img{
    width: 260px;
    height: 260px;
}
.caption{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.repo-content, .followers-content{
    padding-top: 20px !important;
}
.box-content{
    padding: 10px;
    border: 1px solid #eaecef;
    border-radius: 2px;
}
.followers-icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}